<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Imagen Digital</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="../../public/css/materialize.min.css" media="screen,projection" />
</head>

<body>
	<nav class="nav-extended  #000000 black">
		<div class="nav-wrapper ">
			<a href="#" class="brand-logo "><img  src="../../public/img/logo3.jpg" alt=""></a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="sass.html"><img  src="../../public/img/vivo.png"></a></li>
				<li><a href="badges.html"><img  src="../../public/img/lupa.png"></a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="sass.html">Sass</a></li>
				<li><a href="badges.html">Components</a></li>
				<li><a href="collapsible.html">JavaScript</a></li>
			</ul>
			
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<section class="slider">
				<ul class="slides">
					<li class="row">
						<div class="col s6 offset-s3 m4 offset-m4">
							<img src="https://dummyimage.com/600x400/000/fff" alt="">
						</div>
					</li>

					<li class="row">
						<div class="col s6 offset-s3 m4 offset-m4">
							<img src="https://dummyimage.com/600x400/000/fff" alt="video">
						</div>
					</li>
					<li class="row">
						<div class="col s6 offset-s3 m4 offset-m4">
							<img src="https://dummyimage.com/600x400/000/fff" alt="">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Imagen Digital</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../../public/css/materialize.min.css"  media="screen,projection"/>
	</head>
	<body>
		<nav class="nav-extended">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Logo</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="sass.html">Sass</a></li>
					<li><a href="badges.html">Components</a></li>
					<li><a href="collapsible.html">JavaScript</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="sass.html">Sass</a></li>
					<li><a href="badges.html">Components</a></li>
					<li><a href="collapsible.html">JavaScript</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<section class="slider">
					<ul class="slides">
						<li class="row">
							<div class="col s6 offset-s3 m4 offset-m4 detalle">
								<img src="https://dummyimage.com/600x400/000/fff" alt="">
							</div>
						</li>

						<li class="row">
							<div class="col s6 offset-s3 m4 offset-m4 detalle">
								<img src="https://dummyimage.com/600x400/000/fff" alt="video">
							</div>
						</li>
						<li class="row">
							<div class="col s6 offset-s3 m4 offset-m4 detalle">
								<img src="https://dummyimage.com/600x400/000/fff" alt="">
							</div>
						</li>
					</ul>
					<div class="row center-align">
						<div class="col s6 offset-s3 m4 offset-m4">	
							<a class="button--active" href="#"></a>
						</div>
					</li>
				</ul>
				<div class="row center-align">
					<div class="col s6 offset-s3 m4 offset-m4">
						<a class="button--active" href="../views/canal.html"></a>
					</div>
				</div>
			</section>
		</div>
	</div>
	<section class="container">
		<div class="row">
			<h3>IMPERDIBLES</h3>
		</div>
		<div class="row">
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<h3>ENTRETENIMIENTO</h3>
		</div>
		<div class="row">
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>

			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">

			<div class="row">
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>

			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>

		</div>
	</section>
	<section class="container">
		<div class="row">
			<h3>NOTICIAS</h3>
		</div>
		<div class="row">
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">

			<div class="row">
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>

			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>

			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">

			<div class="row">
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>

			</div>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<h3>TELESERIES</h3>
		</div>
		<div class="row">
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>

			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">

			<div class="row">
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>

			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>

		</div>
	</section>
	<section class="container">
		<div class="row">
			<h3>DEPORTES</h3>
		</div>
		<div class="row">
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">

			<div class="row">
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>

			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>

			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">

			<div class="row">
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>

			</div>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<h3>LO MAS VISTO</h3>
		</div>
		<div class="row">
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>

			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			<div class="row">
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>

			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<h3>CONTINUAR VIENDO</h3>
		</div>
		<div class="row">
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">

			<div class="row">
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>
				<div class="col s4 detalle">
					<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
				</div>

			</div>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<h3>NUESTROS PROGRAMAS</h3>
		</div>
		<div class="row">
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
		</div>
	</section>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
	<script type="text/javascript" src="../js/materialize.min.js"></script>
	<script type="text/javascript" src="../js/canal.js"></script>
</body>

</html>
