$colornegro: #000000;
$colorgrisf: #212121;
$colorgrisc: #8f8f8f;
$colortur: #00c3a3;
$colormoradof:#38052a;
$colormoradoc:#451e36;
$colorblanco: #ffffff;

.navc{
  background-color: $colornegro;
}

.anchob{
  width: 65em;
}
